<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="description" content="website description">
	<meta name="keywords" content="HTML,CSS,XML,JavaScript">
	<meta name="author" content="website content">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style_exercise1.css') }}">
</head>

<body>

	<div class="wrapper">
		<div id="banner"><h1 id="companyName">UQ Food Bank</h1></div>

		<div id="leftsidebar">
			<ul id="menulist">
				<a href="/"><li class="menuitem">About Us</li></a>
				<a href="/admin"><li class="menuitem">Admin</li></a>
				<a href="/donor_main"><li class="menuitem">Donor</li></a>
				<a href="/recipient_main"><li class="menuitem">Recipient</li></a>
				<a href="/community_main"><li class="menuitem">Community Centre</li></a>
				<a href="/contactus"><li class="menuitem">Contact Us</li></a>
			</ul>

		</div>

		<div>
            {% with messages = get_flashed_messages() %}
  				{% if messages %}
    				{% for message in messages %}
      					<p id="Answer">	{{ message }}</p>
    				{% endfor %}
  				{% endif %}
			{% endwith %}
            <h1> Volunteer</h1>
                          <table id="dataphone" class="table table-bordered table-striped">
                <thead align="center">
                  <tr>
                      <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone_Number</th>
                      <th>Availability</th>
                      <th>Team</th>
                      <th>Mobile_Phone</th>
                  </tr>
                </thead>

                <tbody>
                    {% if data[1]|length == 0 %}
                  <tr>
                    <td>No Data</td>
                    <td></td>
                    <td></td>
                    <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>
                    {% else %}
                  <tr>
                      {% for row in data[1] %}
                      <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                      <td>{{ row[3] }} </td>
                      <td>{{ row[5] }} </td>
                      <th>{{ row[6] }}</th>
                      <th>{{ row[7] }}</th>
                  </tr>
                      {% endfor %}
                    {% endif%}
                </tbody>
              </table>
            <div align="center">
                <a href="/add_human_resources">Insert new people</a>

                <a href="/update_volunteer_search/"><br>Update new volunteer</a>
                <a href="/delete_volunteer_search/"><br>Delete a volunteer</a>
            </div>
            <h1> Employee</h1>
                          <table id="dataphone" class="table table-bordered table-striped">
                <thead align="center">
                  <tr>
                      <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Entering_Date</th>
                      <th>Title</th>
                      <th>Department</th>
                  </tr>
                </thead>

                <tbody>
                    {% if data[0]|length == 0 %}
                  <tr>
                    <td>No Data</td>
                    <td></td>
                    <td></td>
                    <td></td>
                      <td></td>
                      <td></td>
                  </tr>
                    {% else %}
                  <tr>
                      {% for row in data[0] %}
                      <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                      <td>{{ row[4] }} </td>
                      <td>{{ row[7] }} </td>
                      <td>{{ row[8] }} </td>
                  </tr>
                      {% endfor %}
                    {% endif%}
                </tbody>
              </table>
            <div id="download"><a href="/admin_people">Back to previous page</a></div>
            <div id="download"><a href="/logout">Sign Out</a></div>
            </div>

		</div>
    </div>


		<footer>
			<div>Copyright &copy; by Cecilia. All rights reserved.</div>
		</footer>

	</div>

</body>
</html>